@media screen and (max-width: 1700px)
{
	.slider-video
	{
		height: 400px;
	}

	.price-tag .left-element ul, p, h4
	{
		margin-left: 20px;
	}

	html
	{
		font-size: 8px;
	}
}

@media screen and (max-width: 1500px)
{
	.slider-element
	{
		-ms-grid-columns: auto;
		grid-template-columns: auto;
		width: 100%;
	}

	.slider-element .left-element
	{
		margin-right: 35px;

	}

	.slider-element .right-element img
	{
		width: 400px;
		margin: 10px auto;
		margin-bottom: 30px; 
	}

	.slider-video
	{
		height: 300px;
	}

	.price-tag .left-element p, .about-prices-btn
	{
		margin-left: 40px;
	}
	.price-tag 
	{
		-ms-grid-columns: auto;
		grid-template-columns: auto;
		text-align: center;	
	}	
}


@media screen and (max-width: 1300px)
{
	.map-grid
	{
		-ms-grid-columns: auto;
		grid-template-columns: auto;
	}

	.map-info
	{
		margin: 0 auto;
	}
	.serivice-tags
	{		
		-ms-grid-columns: auto;		
		grid-template-columns: auto;		
	}
	
}


@media screen and (max-width: 1100px)
{
	.header-conatiner ul
	{
		-ms-grid-columns: auto;
		grid-template-columns: auto;	
		grid-row-gap: 20px;		
	}

	.menu-list:nth-child(2)::after
	{
		display: none;
	}

	.photo-examples
	{		
		grid-gap: 5px;		
		-ms-grid-columns: auto;		
		grid-template-columns: auto;		
	}

	.why-chose h2
	{
		margin: 20px;
	}

	.facts
	{
		-ms-grid-columns: auto;
		grid-template-columns: auto;		
	}

	.fact img
	{
		width: 200px;
	}

	.about-us-block p
	{
		margin: 5px;
	}

	.slider-video
	{
		height: 300px;
	}

	.price-tag img
	{
		width: 500px;
	}
}

@media screen and (max-width: 1000px)
{
	.slider-video
	{
		height: 200px;
	}
}


@media screen and (max-width: 900px)
{
	.price-tag .right-element img
	{
		width: 400px;
		margin: 20px;
	}
}


@media screen and (max-width: 800px)
{
	.v-map
	{
		width: 400px;
	}

	.slider-video
	{
		height: 100px;
	}
}







@media screen and (max-width: 1800px)
{
	.inav
	{
		margin-left: 25%;
	}
}

@media screen and (max-width: 1600px)
{
	.inav
	{
		margin-left: 10%;
	}	
}

@media screen and (max-width: 1400px)
{
	.inav
	{
		margin-left: 1%;
	}	
}

@media screen and (max-width: 1220px)
{

	.get-started-btn
	{
		margin: 0 20px;
	}
	.header-conatiner a
	{
		display: none;
	}
	.header-conatiner a.hamb
	{
		float: right;
		/*margin-right: 50px;*/
		display: block;
		margin-top: -1.5rem;
		float:right;
		font-size: 2.5rem;
	}

	.inav
	{
		width: 100%;	
	}

	.header-conatiner.responsive
	{
		position: relative;
		top: 50px;
		left: -277px;
	}

	header .header-conatiner.responsive
	{
		height: 20rem;
	}

	.header-conatiner.responsive a.hamb
	{ 
		position: absolute;
		top: -50px;
		right: -150px;
	}

	.header-conatiner.responsive a
	{ 
		float: none;
		display: block;
		text-align: left;
	}
}